.projectsContainer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
    position: absolute;
    top: 500px;
    justify-content: center;
    width: 100%;
    left: 10px;
    align-items: center;
    align-content: center;
    
}

.categoryCard {
    padding: 20px;
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
    position: absolute;
    top: 500px;
    left: 10px;
  }
  
  .personalCategoryCard {
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
  } 

  .clientCategoryCard {
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
  } 

  .curationCategoryCard {
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
  }
  
  .resourceCategoryCard {
    width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
  } 

  .personalCategoryCard:hover .personalCategory-image,
  .resourceCategoryCard:hover .resourceCategory-image,
  .clientCategoryCard-image:hover .clientCategory-image,
  .curationCategoryCard-image:hover .curationCategory-image 
  {
    transform: scale(90%);
    filter: grayscale(0%);
    transition: all 0.5s ease-in-out;
  }
  
  .personalCategoryCard:hover .category-title
  {
    color: red;
  }

  .clientCategoryCard:hover .category-title
  {
    color: blue;
  }

  .curationCategoryCard:hover .category-title
  {
    color: green;
  }

  .resourceCategoryCard:hover .category-title
  {
    color: purple;
  }
  
  .category-title 
  {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
    margin: 15px 0 0 10px;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
  
  .personalCategory-image 
  {
    min-height: 300px;
    border-radius: 15px;
    box-shadow: inset 5px 5px 3px #2f2f2f,
              inset -5px -5px 3px #333333;
    background-image: url("../media/personalThumb.jpg");
    background-size: cover;
    filter: grayscale(100%);
  }

  .resourceCategory-image 
  {
    min-height: 300px;
    border-radius: 15px;
    box-shadow: inset 5px 5px 3px #2f2f2f,
              inset -5px -5px 3px #333333;
    background-image: url("../media/resourceThumb.jpg");
    background-size: cover;
    filter: grayscale(100%);
  }
  .clientCategory-image 
  {
    min-height: 300px;
    border-radius: 15px;
    box-shadow: inset 5px 5px 3px #2f2f2f,
              inset -5px -5px 3px #333333;
    background-image: url("../media/clientThumb.jpg");
    background-size: cover;
    filter: grayscale(100%);
  }
  .curationCategory-image 
  {
    min-height: 300px;
    border-radius: 15px;
    box-shadow: inset 5px 5px 3px #2f2f2f,
              inset -5px -5px 3px #333333;
    background-image: url("../media/curationThumb.jpg");
    background-size: cover;
    filter: grayscale(85%);
  }

  .category-body {
    margin: 13px 0 0 10px;
    color: rgb(184, 184, 184);
    font-size: 15px;
    text-align: center;
  }
  
  .footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #b3b3b3;
  }
  
  .by-name {
    font-weight: 700;
  }

