/* 
   iMac 24"
*/

.projectListings 
{
    display: flex;
    position: relative;
    width: 100%;
    top: 350px;
    left: 0.25%;
    justify-content: center;
}

/* Grid View Styling */
.gridView 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: relative;
    width: 100%;
    margin-left: 2%;
    z-index: 60;
    transition: all 1.5s linear;
}

.project 
{
    flex: 1; /* Add this line to make each project container take equal width */
    height: 200px;
    background-color: rgba(186, 186, 186, 0.74);
    display: flex;
    position: relative; /* Change this to "relative" instead of "absolute" */
    margin-right: 15px;
    margin-bottom: 20px;
    width: 510px;
    border-width: 1px;
    border-radius: 8px 8px;
    box-shadow: 0 0 4px 3px rgba(50, 50, 50, 0.32);
    transition: all 0.3s ease-in-out;
}

.project:hover
{
    background-color: rgb(0, 0, 0);
}

.projectName
{
    position: absolute;
    left: 23%;
    text-transform: uppercase;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
}

.projectProgress
{
    position: absolute;
    text-transform: uppercase;
    font-size: 16px;
    left: 23%;
    top: 15%;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
}

.projectSummary
{
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-family: 'manrope', "sans serif";
    top: 52%;
    font-size: 15px;
}

.developmentTech
{
    position: absolute;
    top: 83%;
    font-size: 25px;
    background: rgba(255, 255, 255, 1);
}

.developmentTech i
{
    color: rgba(0, 0, 0, 1);
}

.preview
{
    display: flex;
    position: relative;
    top: 80%;
    /* left: 75%; */
}

.projectThumb
{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(255, 255, 255);
}
.projectThumb img
{
    width: 100%;
    height: 100%;
}

/* List View Styling */
.listView
{
    display: flex;
    width: 100%;
    position: absolute;
    z-index: 55;
    left: 100%;
    transition: all 1.5s linear;
}

.listTech
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 25px;
    text-align: center;
    grid-gap: 0px;
    background: green;
    width: 50%;
    justify-content: space-between;
}

.listTech i{
    width: calc(50%);
    background: red;
}
/* Table style */

strong {
	font-weight: bold; 
}

em {
	font-style: italic; 
}

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 12px;
	line-height: 24px;
	left: 0;
	text-align: left;
	width: 800px;
}	

th {
	background: linear-gradient(#777, #444);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
    font-weight: bold;
	padding: 10px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
    text-transform: uppercase;
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	

td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
}	

tr {
	background: rgba(35, 36, 109, 1);	
}

tr:nth-child(odd) td {
	background: #f1f1f1;	
}

tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	

tbody:hover td {
	color: transparent;
	text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
	color: #444;
	text-shadow: 0 1px 0 #fff;
}

/* Table Style */


.projectProgress progress
{
    width: 200px;
    height: 20px;
    border-radius: 0.3px;
    background-color: rgba(255, 255, 255. 1);
}

.projectProgress progress::-webkit-progress-bar {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.3px;
  }
  
.projectProgress progress::-webkit-progress-value {
    background-color: rgb(53, 98, 158);
    border-radius: 0.3px;
  }
  
.projectProgress progress::-moz-progress-bar {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
  }

  
  /* Compatible devices
    MacBook Pro 
    HiDPI Laptop
  */
@media(max-width: 1440px)
{
    .gridView 
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        left: 1%;
        margin-left: 0;
    }
    .project 
    {
        width: 450px;
    }

    .projectSummary
    {
        font-size: 13px;
    }
}

/* Compatible devices
    Microsoft Surface Pro 7 (Landscape)
    ASUS something?
*/
@media(max-width: 1368px)
{
    .gridView
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        left: 0;
    }

    .project
    {
        width: 445px;
    }
}

/* Compatible devices
    MDPI Laptop
*/
@media(max-width: 1280px)
{
    .gridView
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
    }

    .project
    {
        width: 420px;
    }

    .projectName,
    .projectProgress
    {
        left: 25%;
    }
}

/* 
    Surface Pro 7 (portrait)
 */
@media(max-width: 912px)
{
    .gridView
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        left: 1.5%;
    }
}