.listToggleContainer
{
    position: relative;
    display: flex;
    padding-top: 350px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.projectContainer
{
    display: grid;
    place-items: center;
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
    position: absolute;
    top: 500px;
    justify-content: center;
    width: 100%;
    align-items: center;
    align-content: center;
}

.onSwitch,
.offSwitch
{
    font-size : 40px;
    color: blue;
    cursor: pointer;
}

.gridIcon,
.listIcon
{
    font-size: 40px;
}

input[type="checkbox"]
{
    position: relative;
    width: 80px;
    height: 40px;
    -webkit-appearance: none;
    appearance: none;
    background: red;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

.inputContainer
{
    display: grid;
    place-items: center;
    z-index: 20;
}

.inputLabelContainer
{
    display: grid;
    place-items: center;
    z-index: 30;
    position: absolute;
    top: 345px;
}

input[type="checkbox"]:checked
{
    background: green;
}


/* .toggleCircle
{
    position: absolute;
    font-size: 50px;  
} */

/* Remove the existing .toggleCircle styles */
.toggleCircle {
    position: absolute;
    font-size: 50px;
}

/* Add a new rule to style the circle */
.listToggleContainer input[type="checkbox"]:checked ~ .inputLabelContainer .toggleCircle i{
    color: green;
    display: none; /* Change the color to the desired color when checked */
}



