.checkbox-wrapper-35 .switch {
    display: none;
  }

  .checkbox-wrapper-35
  {
    display: grid;
    place-items: center;
  }
  
  .toggleIcons
  {
    left: -60%;
    position: absolute;
    display: flex;
  }
  .checkbox-wrapper-35 .switch + label {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #78768d;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* added by me */
    top: 350px;
  }
  
  .checkbox-wrapper-35 .switch + label::before,
    .checkbox-wrapper-35 .switch + label::after {
    content: '';
    display: block;
    position: relative;
    left: 13px;
    width: 30px;
  }
  
  .checkbox-wrapper-35 .switch + label::before {
    background-color: #05012c;
    border-radius: 500px;
    height: 30px;
    margin-right: 8px;
    -webkit-transition: background-color 0.125s ease-out;
    transition: background-color 0.125s ease-out;
    width: 60px;
  }
  
  .checkbox-wrapper-35 .switch + label::after {
    background-color: #fff;
    border-radius: 13px;
    box-shadow: 0 3px 1px 0 rgba(37, 34, 71, 0.05), 0 2px 2px 0 rgba(37, 34, 71, 0.1), 0 3px 3px 0 rgba(37, 34, 71, 0.05);
    height: 30px;
    left: 13px;
    position: absolute;
    top: 0px;
    -webkit-transition: -webkit-transform 0.125s ease-out;
    transition: -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out;
    transition: transform 0.125s ease-out, -webkit-transform 0.125s ease-out;
    width: 30px;
  }

  .listIcons
  {
    display: flex;
    position: absolute;
    z-index: 19;
  }

  .gridIcons
  {
    display: flex;
    position: absolute;
    z-index: 19;
  }

  .listIcons i,
  .gridIcons i
  {
    font-size: 30px;
  }

  .gridIcons .gridInactive,
  .gridIcons .gridActive
  {
    position: absolute;
    left: 0px;
    top: -15px;
    transition: all 0.5s ease-in-out;
  }

  .listIcons .listActive,
  .listIcons .listInactive
  {
    position: absolute;
    left: 140px;
    top: -15px;
    transition: all 0.5s ease-in-out;
  }

  .toggleCaption
  {
    position: absolute;
    top: 40px;
    font-size: 16px;
    text-align: center;
    display: flex;
    letter-spacing: 1px;
    left: -60%;
  }

  .checkbox-wrapper-35 .switch + label .toggleCaption .switch-x-text {
    display: flex;
    margin-right: 0em;
    white-space: nowrap;
  }
  
  .checkbox-wrapper-35 .switch + label .toggleCaption .switch-x-toggletext {
    display: block;
    font-weight: bold;
    height: 15px;
    /* overflow: hidden; */
    position: relative;
    width: 70px;
  }
  
  .checkbox-wrapper-35 .switch + label .switch-x-unchecked,
    .checkbox-wrapper-35 .switch + label .switch-x-checked {
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out;
    transition: transform 0.125s ease-out, opacity 0.125s ease-out, -webkit-transform 0.125s ease-out;
  }
  
  .checkbox-wrapper-35 .switch + label .switch-x-unchecked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
  
  .checkbox-wrapper-35 .switch + label .switch-x-checked {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  
  .checkbox-wrapper-35 .switch + label .switch-x-hiddenlabel {
    position: absolute;
    visibility: hidden;
  }
  
  .checkbox-wrapper-35 .switch:checked + label::before {
    background-color: #ffb500;
  }
  
  .checkbox-wrapper-35 .switch:checked + label::after {
    -webkit-transform: translate3d(30px, 0, 0);
    transform: translate3d(30px, 0, 0);
  }
  
  .checkbox-wrapper-35 .switch:checked + label .switch-x-unchecked {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  
  .checkbox-wrapper-35 .switch:checked + label .switch-x-checked {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }

  .checkbox-wrapper-35 .switch:checked + label .listInactive
  {
    opacity: 0;
  }

  .checkbox-wrapper-35 .switch:not(:checked) + label .listActive
  {
    opacity: 0;
  }

  .checkbox-wrapper-35 .switch:checked + label .gridActive
  {
    opacity: 0;
  }

  .checkbox-wrapper-35 .switch:not(:checked) + label .gridInactive
  {
    opacity: 0;
  }