@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&family=Victor+Mono:wght@100;300;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 1);
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

body
{
    background: rgb(0, 229, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main
{
    width: 8.5in;
    min-height: 11in;
    height: auto;
    background: green;
    overflow: hidden;
}

title
{
    text-transform: uppercase;
}