@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

body
{
    background: rgb(0, 234, 230);  
}

.buttonSquare
{
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    /* background: red; */
    border-radius: 0;
    
}

.linkButton .buttonSquare .icon 
{
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
   
.linkButton .buttonSquare .icon .arrow 
{
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0;
    width: 0;
    height: 0;
    background: none;
}

.linkButton .buttonSquare .icon .arrow::before 
{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.linkButton .button-text 
{
    -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

.button-text:hover
{
    color: white;
}

.linkButton:hover .buttonSquare 
{
    width: 100%;
}

.linkButton:hover .buttonSquare .icon .arrow 
{
    background: transparent;
    -webkit-transform: translate(1rem, 0);
        -ms-transform: translate(1rem, 0);
            transform: translate(1rem, 0);
}

.linkButton:hover .button-text, 
.linkButton:hover a
{
    color: #fff !important; 
    text-align: center;
    left: -25px;
    z-index: 100;
}

.linkButton
{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: white;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 12rem;
    height: auto;
}

.linkButton a
{
    text-decoration: none;
    color: black;
}

.sideArrow
{
    background: transparent;
    font-size: 30px;
    top: 25%;
    left: -15px;
    text-align: center;
    position: absolute;
    z-index: 100;
    color: white;
}

.linkButton:hover .sideArrow
{
    transform: rotate(90deg);
    color: white;
    top: 22px;
}